@import url(http://fonts.googleapis.com/css?family=Raleway);

*{

	margin:0;
	padding:0;
	user-select:none;

}

body, html{

	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;

}

/* Style the navbar */
#navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:1;
  
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
}

.transparent{
	background-color: rgba(0,0,0,0);
	transition: .3s;
}
.transparent a{ color:white; }

.black{
	background-color:#282e34;
	transition: .3s;
	padding-top: 10px;
}
.black a{color: #ddd;}

a{text-decoration: none;}

a:hover{text-decoration:underline;}

#topBtn{color: #f4f4f4;}

.bg-img1{

	background-color: #2a3551;
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-image: url("../images/Selfie.jpg");
	min-height:100%;

}

table{

	text-align: left;
	border-collapse: collapse;
	margin-right: 250px;
	margin-left: 250px;

}

td, th{

	border:1px solid #666;
	padding-left: 10px;
	padding-right: 10px;

}

td a{color:#666;}

.img-txt{

	position: absolute;
	top:45%;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;

}

.section{

	text-align: center;
	padding: 50px 80px;

}

.section-light{

	background-color:#f4f4f4;
	color: #666;

}

.section-dark{

	background-color:#282e34;
	color: #ddd;

}

.icon{

	color: #f4f4f4;
	font-size: 30px;

}

.icon-link{

	color:#ddd;

}  

.info{

	text-align: left;
	margin-left: 250px;
	margin-right: 250px;

}

.subheader{

	position: absolute;
	top:50%;
	text-align: center;
	color: white;
	font-size: 17px;
	padding-left: 250px;
	padding-right: 250px;

}

h1{

	text-align: left;
	margin-left: 250px;
	margin-right: 250px;

}

.toggle{

	width: 100%;
	padding: 10px 20px;
	background:#282e34;
	color:#ddd;
	text-align: left;
	box-size: border-box;
	font-size: 25px;
	display: none;

}

@media only screen and (max-width: 768px) {

	.toggle{

		display: block;

	}

	#navbar a{

		width: 100%;
		text-align: center;
		background-color:#282e34;
		float: none;

	}

	.list{

		display: none;

	}

	h1{

		margin:0;
		padding:0;

	}

	.subheader{

		padding:0 20px 0 20px;
		margin:0;
		font-size: 15px;

	}

	table{
		margin:0;
		margin-left: -30px;
	}

	.info{

		margin: 0;
		padding: 0;

	}

	.active{

		display: block;

	}

}
